.header h2{
	color: #f6f6f6;
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	padding: 30px 0;
	letter-spacing: 9px;
}

.pagecontent{
	text-align: center;
}

.weatherbox{
	/*border: 5px solid rgba(0,0,0,0.2);*/
	min-height: 400px;
	display: block;
	margin:0 auto;
	width: 100%;
}

#temp{
	width: 200px;
	padding: 20px 30px;
	background: rgba(0,0,0,0.1);
	color: #f6f6f6;
	font-size: 50px;
	font-weight: 600;
	margin: 20px auto;
	border: 3px solid #f6f6f6;
}

#area , #feel , #humid{
	padding: 20px;
	color: #f6f6f6;
	font-size: 35px;
	font-weight: 300;
	font-family: 'Francois One', sans-serif;
}

#feel{
	border-bottom: 3px solid #f6f6f6;
}

#area{
	font-family: 'Muli', sans-serif;
	letter-spacing: 2px;
}

#humid{
	color: pink;
	padding: 15px;
	background: rgba(0,0,0,0.2);
}

.footer {
    background: #1d4563 none repeat scroll 0 0;
    color: #4fe54d;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 800;
    padding: 7px;
}

.footer-contact {
    color: #ed9095;
}

@media(max-width: 360px){
	.footer{
		position: fixed;
		bottom: 0;
		left: 0;
	}
	html{
		background-size: cover;
	}
}